
.wrapper
    %nav#sidebar.sticky-top
        .sidebar-header
            %h3 Bootstrap Sidebar
        %ul.list-unstyled.components
            %p Dummy Heading
            %li.active
                %a{:href => "#homeSubmenu", :data => {:toggle => "collapse"},:aria=>{:expanded => "false", :class => "dropdown-toggle"}} Home 
                %ul{:class =>"collapse list-unstyled",:id => "homeSubmenu"}
                    %li 
                        %a{:href =>"#"} Home 1
                    %li 
                        %a{:href =>"#"} Home 1
                    %li 
                        %a{:href =>"#"} Home 1

            %li
                %a{:href => "#"} About
            %li
                %a{:href => "#pageSubmenu", :data=>{:toggle=>"collapse"}, :aria=>{:expanded => "true"}, :class=>"dropdown-toggle"} Pages 
                %ul{:class=>"collapse list-unstyled", :id=>"pageSubmenu"}
                    %li
                        %a{:href=>"#"} Page1
                    %li
                        %a{:href=>"#"} Page1
                    %li
                        %a{:href=>"#"} Page1
            %li
                %a{:href=>"#"} Portfolio 
            %li
                %a{:href=>"#"} Contact
    .main-content.active
        %h2
            = @shop_item.title
        %h4
            = @shop_item.description
        %p 
            = @shop_item.price
        %p 
            = link_to @shop_item.user.email, user_path(@shop_item.user.id)
        - if @shop_item.shop_item_images.length == 1
            %img{:src => @shop_item.shop_item_images[0].picture_path, :style => "width:400px", class:"image"}
        -else
            %div{id:"carouselExample", class:"carousel slide", :data => {:ride=>"carousel"}}
                .carousel-inner
                    - @shop_item.shop_item_images.each_with_index do |shop_item_image,index|
                        - if index == 0
                            .carousel-item.active 
                                %img{:src => shop_item_image.picture_path,  class:"d-block w-50", alt:"pic-#{shop_item_image.id}"}
                        - else 
                            .carousel-item
                                %img{:src => shop_item_image.picture_path,  class:"d-block w-50", alt:"pic-#{shop_item_image.id}"}

        .buttons2    
            = link_to "Edit" , edit_shop_item_path(@shop_item),class: "btn btn-primary"
            = link_to "Delete", @shop_item, method: "delete", data: {confirm: "Are you sure?"}, class: "btn btn-success"
        = react_component 'Main'

